.containerImg{
    /* width: 170px; */
     height: 200px;
    margin:  10px 10px 50px;
    display: flex;
    align-items: left;
    justify-content: center;
    /* background-color: aqua;  */
    box-shadow:0 3px 13px 1px rgb(0 0 0 9%) ;
}

.imgTestimonials{
    height: 100%;
    width: auto;
}

.figureTestimonials{
    height: 180px;
}

.containerInfo{
    color: beige;
}

/* .card-body{
    background-color: #5c7c9c;
} */


.cardColor1{
    background-color: #9c1525;
}


.cardColor2{
    background-color: #445c7c
}

.cardColor3{
    background-color:#db982a;
}

.hidden{
    display: none;
}